
###> symfony/framework-bundle ###
/.env.*
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.idea
###< symfony/framework-bundle ###

# Node.js dependencies
/node_modules/

# PHP dependencies lock file
/composer.lock



###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
/config/packages/lexik_jwt_authentication.yaml
###< lexik/jwt-authentication-bundle ###
